# Python artifacts
*.egg-info
__pycache__/
*.py[cod]
*.pyo
# Build directories
/build/
/dist/
/pip-wheel-metadata/
# Virtual environments
.env
.venv
venv/
# Test and coverage artifacts
.tox/
.mypy_cache/
pytest_cache/
.coverage
htmlcov/
# Editor and IDE settings
.vscode/
.idea/
*.swp
*~
